.pick-up-line h1 {
    font-size: 80px;
    margin: 0px;
}

.pick-up-line p {
    font-size: 20px;
}

.pick-up-line {
    width: 50%;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.intro img {
    width: 400px;
    height: 700px;
}

.live-demo {
    padding: 8px;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    box-shadow: 10px 10px 10px grey;
    background-color: aqua;
}